@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
}

.big-title {
  text-align: center;
  font-size: 1.75rem;
}

.back-button {
  background: transparent;
  padding: 0.2rem 0;
  border: none;
  font-size: 0.9rem;
}

.stepper {
  margin-top: 2rem;
  background-color: white;
  width: 80%;
  height: 8rem;
  margin-left: 10%;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
}

.stepper-one {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: white;
  width: 202%;
  height: 10rem;
  border-radius: 0.625rem;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #9e9e9e;
  width: 100%;
  top: 1rem;
  left: -50%;
  z-index: 2;
}
.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #9e9e9e;
  width: 100%;
  top: 1rem;
  left: 50%;
  z-index: 2;
}
.stepper-item .step-counter {
  position: relative;
  font-size: 0.8rem;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: white;
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
  margin-bottom: 6px;
}
.stepper-item.active {
  font-weight: bold;
  color: #5edf53;
}

.stepper-item.active .step-counter,
.stepper-item.completed .step-counter {
  border: none;
  background-color: #5edf53;
  color: white;
}
.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 4px solid #5edf53;
  width: 100%;
  top: 1rem;
  left: 50%;
  z-index: 3;
}
.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.stepmark {
  color: black;
  margin-top: 10px;
  font-size: 13px;
}
.big-button-one {
  display: block;
  background-color: #91908d;
  padding: 0.5rem 2rem;
  color: white;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: none;
  margin-top: 6rem;
  margin-left: 11rem;
}

.big-button-two {
  max-width: 100%;
  background-color: #f57d00;
  padding: 0.5rem 3rem;
  color: white;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: none;
  margin-top: 45.8rem;
  position: absolute;
  right: 350px;
  top: 0px;
  z-index: 1;
}
.big-button-enq {
  background-color: #52a34b;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: none;
  margin-top: -4.5rem;
  margin-right: 4rem;
  float: right;
}
.restab {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.big-button {
  display: block;
  height: 320px;
  width: 320px;
  background-color: #f57d00;
  padding: 1rem 3rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.625rem;
  border: none;
}
.big-button-contact {
  display: block;
  height: 120px;
  width: 200px;
  background-color: #f57d00;
  padding: 1rem 3rem;
  color: white;
  font-size: 1.3rem;
  border-radius: 0.625rem;
  border: none;
}
.imgres {
  display: flex;
  width: 410px;
  height: 320px;
  border-radius: 1rem;
}
.mybox {
  min-height: 100%;
  margin-bottom: 180px;
}
.container-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container-infor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.imgresult {
  display: flex;
  width: 200px;
  height: 220px;
}
.res-searc {
  background-color: #fff;
  width: 1000px;
  max-height: 1000px;
  margin: 0 20px 30px 20px;
}
.res-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 980px;
  height: 120px;
  border-radius: 1rem;
  padding: 30px;
  margin-right: 20px;
}
.new-title {
  border-bottom: 3px solid #f57d00;
  padding: 20px 40px 20px 40px;
  margin: 0 20px 0 20px;
}
.big-button:active,
.big-button:hover {
  background-color: #f57d00;
}

.titleSta {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.charts {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.log-btn-thr {
  background: #f57d00;
  width: 30%;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  padding: 5px;
}

.result-searc-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 150px 30px 40px;
  padding-left: 25px;
}
.result-searc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 452px 30px 40px;
  padding-left: 25px;
}

.special {
  padding-left: 30px;
}
.special-two {
  padding-right: 120px;
}
.special-one {
  padding-right: 90px;
}
/* Radio button */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.roww {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.batteryset {
  margin: 0 0 0 30px;
}
.row.center {
  justify-content: center;
  margin-bottom: 10rem;
}
.row.top {
  align-items: flex-start;
  margin-top: 2rem;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
img {
  border-radius: 0.5rem;
}
img.medium {
  width: 100%;
  height: 190px;
}
img.large {
  width: 60%;
  max-height: 600px;
}
.ull {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.lii {
  margin-top: 0.8rem;
  font-size: 1rem;
}
#button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
#button-one {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
#buttonn {
  max-width: 20%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
#buttonnn {
  max-width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
#button.primary {
  color: white;
  background-color: #eaaf0c;
}
#button.block {
  margin-top: 1rem;
  width: 100%;
}

#buttonn.primaryy {
  color: white;
  background-color: #f57d00;
}
#buttonn.blockk {
  margin-top: 1rem;
  width: 100%;
}
#buttonnn.blockk {
  margin-top: 1rem;
  width: 100%;
}
#buttonnn.primaryy {
  color: white;
  background-color: #f57d00;
}
#button-one.dangerr {
  color: white;
  background-color: #a92e18;
}
#button-one.block {
  margin-top: 1rem;
  width: 100%;
}
#button:hover {
  border: 0.2rem #404040 solid;
}
#button-one:hover {
  border: 0.2rem #404040 solid;
}
.status {
  font-size: 1.6rem;
  font-weight: bold;
}
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}

.card > * {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff8000;
}
h1 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

h4 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
}
.price {
  font-size: 0.8rem;
  padding: 0.3rem;
}
.title {
  font-size: 2rem;
  padding: 0.5rem 0;
  text-align: center;
}
.success {
  font-size: 1.2rem;
  font-weight: bold;
  color: #20a020;
}

.danger {
  font-size: 1.2rem;
  font-weight: bold;
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
.span {
  text-align: center;
  font-weight: bold;
}

/* Form */
.form-one {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 9rem;
}
.form-one > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form-one label {
  margin: 1rem 0;
}

.input-one,
select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.input-one:hover,
select:hover {
  border: 0.1rem #404040 solid;
}

.divtab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divtab li {
  padding: 8px 145px 5px 10px;
}

.links {
  display: flex;
  justify-content: flex-startf;
  align-items: center;
  width: 80%;
  padding: 15px 0px 10px 0px;
  border-bottom: 1px solid rgb(152, 144, 144);
  margin-left: 60px;
}

.links-one {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 15px 0px 10px 0px;

  margin-left: 60px;
}

.linksone {
  margin-left: -66px;
}

@media (min-width: 768px) {
  .big-button-two {
    left: auto;
  }
}

@media (max-width: 75rem) {
  .stepmark {
    display: none;
  }
}
@media (max-width: 100rem) {
  .big-button-one {
    display: block;
    background-color: #91908d;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1rem;
    border-radius: 0.625rem;
    border: none;
    margin-top: 2rem;
    margin-left: 7.7rem;
  }
}
@media (max-width: 77.75rem) {
  .big-button-one {
    display: block;
    background-color: #91908d;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1rem;
    border-radius: 0.625rem;
    border: none;
    margin-top: 2rem;
    margin-left: 5.7rem;
  }
}

@media (max-width: 75rem) {
  .big-button-one {
    display: flex;
    justify-content: center;
    margin-top: -7rem;
    background-color: #ff8000;
    margin-bottom: 8rem;
    padding: auto;
    margin-left: 5rem;
    width: 80%;
    height: 2rem;
  }
}
@media (max-width: 51.25rem) {
  .big-button-one {
    display: flex;
    justify-content: center;
    margin-top: -7rem;
    background-color: #ff8000;
    margin-bottom: 17rem;
    padding: auto;
    margin-left: rem;
    width: 80%;
    height: 2rem;
  }
}
@media (max-width: 48rem) {
  .big-button-one {
    display: flex;
    justify-content: center;
    margin-top: -7rem;
    background-color: #ff8000;
    margin-bottom: 17rem;
    padding: auto;
    margin-left: 4rem;
    width: 80%;
    height: 2rem;
  }
}
@media (max-width: 35rem) {
  .big-button-one {
    display: flex;
    justify-content: center;
    margin-top: -7rem;
    background-color: #ff8000;
    margin-bottom: 17rem;
    padding: auto;
    margin-left: 3rem;
    width: 80%;
    height: 2rem;
  }
}

@media (max-width: 30rem) {
  .big-button-one {
    display: flex;
    justify-content: center;
    margin-top: -17rem;
    background-color: #ff8000;
    margin-bottom: 18rem;
    padding: auto;
    margin-left: 2.3rem;
    width: 80%;
    height: 2rem;
  }
}
